<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/stylesheets/productDetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
    <title>ProductDetail</title>
</head>
<body class="body">
    <%-include('./partials/header.ejs')%>


    <nav class="ruta">
        <ul class="d-flex">
            <li class="margin-ruta"><a href="/vistas/index.html" class="style-ruta ruta">Home</a></li>
            <span>/</span>
            <li class="margin-ruta"><a href="#" class="style-ruta ruta">Productos</a></li>
            <span>/</span>
            <li class="margin-ruta"><a href="#" class="style-ruta ruta">Ropa</a></li>
            <span>/</span>
            <li class="margin-ruta"><a href="#" class="style-ruta ruta">Mujer</a></li>
            <span>/</span>
            <li class="margin-ruta"><a href="#" class="style-ruta ruta">Camisas</a></li>

        </ul>
        </nav>
<div class="cont-prod d-flex cont"><!--Contenedor general de todo -->

    
    <div class="carr-img margin-top d-flex img-mini">
        <div>
            <img src="/images/blusa-1.jpeg" alt="" class="resize_fit-side img-mini-border">
        </div>
        <div><img src="/images/blusa-2.jpeg" alt="" class="resize_fit-side img-mini-border" ></div>
        <div><img src="/images/blusa-3.jpeg" alt="" class="resize_fit-side img-mini-border"></div>
        <div><img src="/images/blusa-4.jpeg" alt="" class="resize_fit-side img-mini-border"></div>
    </div>
    <div class="img margin-top img-central">

        <img src="/images/img-blusa.jpeg" alt="blusa" class="wd-100">
        
        <a href="" class="ruta d-flex zoom"><i class="fas fa-search-plus"></i></a>
         
    </div>
    <div>
       
        
    
    
    
    </div>
    <div class="art-data margin-top flex-data prod-border">
        <h1 class="prod-title">Camisa Ruffle</h1>
        <p class="prod-price">$2500.00</p>
        <p class="prod-color margin-top" >Color:</p>
        <img src="/images/blusa-2.jpeg" alt="color-miniatura" class="mini-color">
        <p class="prod-color margin-top">Detalle:</p>
        <p class="prod-detail">Camisa de Seda 100%</p>
        <p class="prod-talle">Talle:</p>
        <div class="margin-top">
        <button type="button" class="button-size">XS</button>
        <button type="button" class="button-size">S</button> 
        <button type="button" class="button-size">M</button> 
        <button type="button" class="button-size">L</button> 
        <button type="button" class="button-size">XL</button> 
        <button type="button" class="button-size">XXL</button>
        </div> 
    
        <div class="d-flex margin-top">
            <form action="resultado.html" method="POST">
            <select name="cant" id="cant">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            
        </select>
         
            <button type="submit" class="prod-shop-cart send">Agregar al carrito</button>
           
        </div>


    </div>
    

</div>

<div class="banner">

    <p class="title-banner">Artículos Relacionados</p>

<div class=" d-flex">

    <div class="banner-fonts">

     <img src="/images/saco-1.jpeg" alt="saco1"class="resize_fit">
     <p>Saco</p>
    <p>$3800.00</p>   

    </div>
    <div class="banner-fonts">
        <img src="/images/saco-verde.jpeg" alt=""class="resize_fit">
        <p>Saco</p>
        <p>$3000.00</p>
    </div>
    <div class="banner-fonts">
        <img src="/images/buzo-1.jpeg" alt=""class="resize_fit">
        <p>Buzo</p>
        <p>$2750.00</p>
    </div>
    <div class="banner-fonts">
        <img src="/images/buzo-marron.jpeg" alt=""class="resize_fit">
        <p>Buzo</p>
        <p>$2700.00</p>
    </div>
    <div class="banner-fonts">
        <img src="/images/jean.jpeg" alt="" class="resize_fit">
        <p>Jean</p>
        <p>$3500.00</p>
    </div>
    

</div>
</div>
    <%-include('../partials/footer.ejs')%>
</body>
</html>