<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/productAdd.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body class="body">
    <%-include('./partials/header.ejs')%>

    <main>

<h1 class="title-font space center">Cargá tu Producto</h1>
<!--nombre del producto-->        
<form action="carga/nuevo" method="POST">
     <p class="center space"> 
        <label for="nombre-prod" class="rob-14"></label>
        <input type="text" name="nombre-prod" id="nombre-prod" placeholder="Nombre del Producto" class="nombre-prod nombre-size  wdth-bar padding-text">
    </p>  
<!-- / nombre del producto-->

<!--descripcion-->
    <p class="center space"> 
        <textarea name="comentarios" rows="10" cols="80">Descripción</textarea>
    </p> 
<!--/descripcion-->

<!--categoria-->
    <p class="center space rob-18"> 
        <label for="categoria center space">Categoría</label>
    <p class="center space">
        <select name="categoria center">
            <option value="AyB">Alimentos y Bebidas</option>
            <option value="Ind">Indumentaria</option>
            <option value="Hog">Hogar</option>
            <option value="Ser">Servicios</option>
        </select>
    </p>
    </p>  
    <!--/categoria-->
      <!--talles-->
      <p class="center space rob-18">Talles</p>
      
      <div class="center">
        <div class= "space">
        <label for="XS" class="">XS</label>
        <input type="checkbox" name="XS" value="XS" class="box-margin">
        <label for="S" class="">S</label>
        <input type="checkbox" name="S" value="S" class="box-margin">
        <label for="M" class="">M</label>
        <input type="checkbox" name="M" value="M" class="box-margin">
        <label for="L"class="">L</label>
        <input type="checkbox" name="L" value="L" class="box-margin">
        <label for="XL" class="">XL</label>
        <input type="checkbox" name="XL" value="XL" class="box-margin">
        <label for="XXL" class="">XXL</label>
        <input type="checkbox" name="XXL" value="XXL" class="box-margin">
    </div>

    <!--/talles-->
<!--precio del producto-->
    <p class="center space"> 
        <label for="precio-prod"></label>
        <input type="text" name="precio-prod" id="nombre-prod" placeholder="Precio" class="nombre-size">
    </p>  
    <!--/ precio del producto-->
    
  

    <!--carga de imagenes-->

        <p class ="center space rob-18" <label for="foto">Fotos del Producto</label></p>
        <p class="center space"><input type="file" name="foto" class=""></p>
   
    <!--/ carga imagenes-->



    <!--boton enviar-->
    <p  class="center space">
    <input type="button" value="Enviar" class=" button-send">
    </p>
    <!--fin boton enviar-->



</form>
  
        
         
      
    </main>
    
</body>
</html>
