<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">

    <title>Document</title>
</head>
<body>
    <header><!--barra de navegacion--></header>

    <main>
        <div class=""><!--nombre del producto--></div> 
        <div class=""><!--descripcion--></div> 
        <div class=""><!--imagen--></div>
        <div class=""><!--categoria--> </div>  
        <div class=""><!--colores--> </div> 
        <div class=""><!--talles--> </div> 

        <div class=""><!--precio--></div> 
        <div class=""><!----></div> 
         
      
    </main>
</body>
</html>