<header>
    <div class="principal">
        <div class="lupa">
            <input class="lup" type="text" value="Buscar productos, marcas">
            <i class="fas fa-search icon"></i>  
        </div>
        <div class="menu">
            <div class="categorias">
                <p>CATEGORIAS</p>
            </div>
            <div class="ofertas">
                <P>OFERTAS</P>
            </div>
            <div class="producciones">
                <P>PRODUCCIONES</P>
            </div>
            <div class="proveedores">
                <P>PROVEEDORES</P>
            </div>
            <div class="ayuda">
                <P>AYUDA</P>
            </div>
            <div class="logo">
                <i class="fas fa-shopping-cart logi right"></i>
                <i class="fas fa-user logi"></i>
            </div>
        </div>
    </div>
</header>