*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.d-flex{

    display: flex;
}
/*diagramacion de elementos en pantalla*/
.d-flex.cont{
justify-content: space-around;

}


.header{
    background-color: blueviolet;
    height: 92px;
    padding-left: 20%;
    padding-right: 20%;
}
.body{

    background-color: white;
    
}
.ruta{
    background-color: darkgreen;
    

    
}
.cont-prod{
    background-color: darkkhaki;
    height: 530px;
   
}
.carr-img{
    background-color: tomato;
    height:500px ;
    width: 100px; ;
}


.img{
    background-color:white;
    height:500px ;
    width: 350px; ;

}

.art-data{
    background-color: tomato;
    height:500px ;
    width: 350px;

}
.flex-data{
    flex-grow: 0.5;
}

.banner{
    height: 170px;
    width: auto;
    background-color: darkmagenta;
    margin-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;
}
.ft{
    background-color: darkgray;
    height: 100px;
    padding-left: 20%;
    padding-right: 20%;
}

.margin-top{
    margin-top: 1%;
}


/*Hasta acá es diagramacion de los elementos en pantalla*/

.wd-100{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 20%;
}

/*Carousel*/

.d-flex.img-mini{
flex-direction: column;
}

.resize_fit{
    max-width:70%;
    max-height:70%;
    text-align: center;
    
    
}
.resize_fit-side{
    max-width:100%;
    max-height:100%;
}