<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>index</title>
</head>
<body class="body">
    
  <%-include('./partials/header.ejs')%>


  <main>
  <div class="carrousel carrousel-img"><!--carrousel-->
    <img src="images/banner-1.jpg" alt="banner" class="carrousel-img">
</div> 
  <div class="info-pago margin-top"><!--informacion de pago y envios-->
    <p>Formas de Pago</p>
    </div> 


  <div class="recomendaciones margin-top"><!--Recomendaciones-->
  
    

      <p class="title-banner titles">Artículos Relacionados</p>
  
  <div class=" d-flex cont"> 
  

      <div class="banner-fonts">
  
       <img src="/images/saco-1.jpeg" alt="saco1"class="resize_fit">
        
  
      </div>



      <div class="banner-fonts">
          <img src="/images/saco-verde.jpeg" alt=""class="resize_fit">
          
      </div>


      <div class="banner-fonts">
          <img src="/images/buzo-1.jpeg" alt=""class="resize_fit">
          
      </div>


      <div class="banner-fonts">
          <img src="/images/buzo-marron.jpeg" alt=""class="resize_fit">
          
      </div>



      <div class="banner-fonts">
          <img src="/images/jean.jpeg" alt="" class="resize_fit">
          
      </div>

    
  </div>
</div>
      
  
  
  
  
  

 
  <div class="descubri margin-top">
  <p class="titles">Descubrí</p>
  <div class="descubri d-flex space">
  <div class="descubri-banner"><!--/banners de marcas destacadas--></div>
  <div class="descubri-banner"><!--/banners de marcas destacadas--></div>
  </div>
  </div>
  
  



  <div class="ofertas margin-top">
    <p class="title-banner titles">Ofertas</p>
  
    <div class=" d-flex cont"> 
    
  
        <div class="banner-fonts">
    
         <img src="/images/saco-1.jpeg" alt="saco1"class="resize_fit">
          
    
        </div>
  
  
  
        <div class="banner-fonts">
            <img src="/images/saco-verde.jpeg" alt=""class="resize_fit">
            
        </div>
  
  
        <div class="banner-fonts">
            <img src="/images/buzo-1.jpeg" alt=""class="resize_fit">
            
        </div>
  
  
        <div class="banner-fonts">
            <img src="/images/buzo-marron.jpeg" alt=""class="resize_fit">
            
        </div>
  
  
  
        <div class="banner-fonts">
            <img src="/images/jean.jpeg" alt="" class="resize_fit">
            
        </div>
  
      
    </div>


  </div> 
  <div class="promociones d-flex space margin-top"><!--promociones-->
  <div class="promo-banner">
      <div class=""></div>
  </div>
  <div class="promo-banner d-flex space wp">
    <div class="mini-banner"></div>
    <div class="mini-banner"></div>
    <div class="mini-banner"></div> 
    <div class="mini-banner"></div>
    <div class="mini-banner"></div>
    <div class="mini-banner"></div>
</div>
  
  </div> 

  <div class="historial margin-top"><!--Historial de vistas de usuario-->
  
    <p class="title-banner titles">Historial</p>
  
    <div class=" d-flex cont"> 
    
  
        <div class="banner-fonts">
    
         <img src="/images/saco-1.jpeg" alt="saco1"class="resize_fit">
          
    
        </div>
  
  
  
        <div class="banner-fonts">
            <img src="/images/saco-verde.jpeg" alt=""class="resize_fit">
            
        </div>
  
  
        <div class="banner-fonts">
            <img src="/images/buzo-1.jpeg" alt=""class="resize_fit">
            
        </div>
  
  
        <div class="banner-fonts">
            <img src="/images/buzo-marron.jpeg" alt=""class="resize_fit">
            
        </div>
  
  
  
        <div class="banner-fonts">
            <img src="/images/jean.jpeg" alt="" class="resize_fit">
            
        </div>
  
      
    </div>
  


  </div> 
  <div class="news margin-top input"><!--newsletter-->

    <form action="" class="d-flex">
       
        <div class="container-news item-mail input">
          
          <input type="text" placeholder="Newsletter" name="mail" required class="news-bar input">
          
        </div>
      
        <div class="input">
            <input type="submit" value="Enviar" class="input"></input>
            
        </div>
      </form>



</div> 
   

</main>
<%-include('./partials/footer.ejs')%>
</body>
</html>