<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>index</title>
</head>
<body class="body">
    
  <header class="header"><!--Barra de navegacion-->  
<div> <!--contenedor general-->
<div  class="d-flex cont nav-sup"><!--contenedor parte superior-->
  
    <div class="bg-green flex-logo">logo</div>
    <div class="bg-red flex-search">barra de busqueda</div>
 
    
  
  </div>
</div>
  <div>
    <ul class="d-flex">
      <li class="li"><a href="">Categorias</a></li>
      <li class="li"><a href="">Ofertas</a></li>
      <li class="li"><a href="">Productores</a></li>
      <li class="li"><a href="">Proveedores</a></li>
      <li class="li"><a href="">Ayuda</a></li>
    </ul>
</div>
</header>

</div>
  <main>
  <div class="carrousel"><!--carrousel--></div> 
  <div class="info-pago"><!--informacion de pago y envios--></div> 
  <div class="recomendaciones"><!--Recomendaciones--></div>
  <div class="descubri"><!-- descubrí /banners de marcas destacadas--> </div>  
  <div class="ofertas"><!--ofertas--> </div> 
  <div class="promociones"><!--promociones--> </div> 
  <div class="historial"><!--Historial de vistas de usuario--></div> 
  <div class="newsletter"><!--newsletter--></div> 
   

</main>
<%-include('./partials/footer.ejs')%>
</body>
</html>