<!DOCTYPE html>
<html lang="en">
<head class="formatohead">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/register.css">
    <title>Registro</title>
</head>
<body>
    <%-include('./partials/header.ejs')%>
    <section>
        <div>
            <form action="confirmacion.html" method="POST">
                <h2 class="formatotituloinvitacion2">Felicitaciones!<br>
                Ya eres parte de la comunidad R-market!<br>
                <br>
                </h2>
                <h2 class="formatotituloinvitacion" >Te hemos enviado un mail a tu casilla<br>de correo para validar tu cuenta.</h2>
                

            </form>
        </div>
    </section>
    <%-include('./partials/footer.ejs')%>


</body>
</html>
